* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}
textarea {
  width: 500px;
  height:40px;
  background-color: white;
  color: black;
  margin: 6px 6px;
  padding: 5px;
  border: rgb(8,119,168) solid 1px;
  border-radius: 15px;
}
.pad{
  padding: 5px;
}
.select-group{
  width:620px;
  height:50px;
  background-color: white;
  color: rgb(3, 62, 87);
  margin: 6px 6px;
  font-size:22px;
  font-weight: bold;
  font-family: Times;
  border: rgb(8,119,168) solid 1px;
  border-radius: 10px;
}
.name-group{
  padding-top: 15px;
  padding-left: 15px;
}
.add-group{
  width:140px;
  background-color: white;
  color: black;
  margin: 6px 6px;
  padding: 5px;
  border: rgb(8,119,168) solid 1px;
  border-radius: 15px;
}
.btn-add{
  width: 150px;
  margin: 6px 6px;
}
.btn-send{
  margin-bottom: 10px;
  border: 1px rgb(8,119,168) solid;
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 6px 6px;
}
.btn{
  font-size: 14px;
  margin: 6px 6px;
}
.contain {
  width: 1000px;
  height: 600px;
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 8px;
  border: rgb(8,119,168) solid 1px;
}

.form-heading {
  display: flex;
  justify-content: space-between;
  color: rgb(8,119,168);
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: rgb(8,119,168) 1px solid;
}

h1{font-family: Comic Sans MS;}

.sign-out {
  display: flex;
  align-items: center;
}

#sign-out {
  padding-right: 0px;
}

#form-signout {
  background: transparent;
  border: white;
  width: 100px;
  height: 20px;
  font-size: 15px;
  padding-bottom: 10px;
  font-style: italic;
}

.sign-out button:hover {
  color:rgb(250, 8, 8);
  text-decoration: underline;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.people-list {
  padding: 0;
  width: 160px;
  height: 542px;
  border-right: rgb(8,119,168) 1px solid;
}

.user {
  margin-bottom: 10px;
  border: 1px rgb(8,119,168) solid;
  border-radius: 10px;
} 

.chat-nhom {
  color :rgb(7, 158, 163);
  padding-left: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.form-search {
  padding :10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.form-chat-message {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.form-chat .chat-header .chat-about {
  float: left;
  background-color: white;
  color: rgb(8,119,168);
  margin: 6px 6px;
  padding: 5px;
  border: rgb(8,119,168) solid 1px;
  border-radius: 15px;
  font-size: 15px;
}
.chat-header{
  height: 360px;
  overflow-y: scroll;
}
.form-chat .chat-header .chat-with {
  font-size: 16px;
}

.form-chat .chat-header .chat-num-messages {
  color: white;
  background-color: rgb(8,119,168);
}

.form-chat .chat-header .fa-star {
  float: right;
  background-color: rgb(8,119,168);
  color: white;
  font-size: 15px;
  margin: 6px 6px;
  
  border: rgb(8,119,168) solid 1px;
  border-radius: 15px;
  padding: 5px;
}
.form-chat{
  width: 630px;
}
#message-to-send {
  width:80%;
  height: 30px;
  margin-bottom: 35px;
  margin-left: 10px;
}

#form-send {
  width: 60px;
  height: 30px;
  margin-bottom: 35px;
  margin-right: 10px;
  font-family: Comic Sans MS;
}

.chat-group {
  width: 120px;
  height: 542px;
  border:rgb(8,119,168) 1px solid;
}

.form-sub{
  padding: 0;
  
  height: 542px;
  border-left: rgb(8,119,168) 1px solid;
  display: flex;
  justify-content: space-around;
  
}
.form-user{
  overflow-y: scroll;
  height: 280px;
}
.form-sub h1{
    color: rgb(8,119,168);
}

.member p{
  margin: 6px 6px;
  padding-left: 60px;
  border: rgb(8,119,168) solid 1px;
  border-radius: 8px;
}
hr{
  height:1px;
  background-color: rgb(8,119,168);
}
.add-member {
  margin-left: 41px;   
}
.add-friend{
  
  height: 230px;
  overflow-y: scroll;
}
.btn-add-friend{
  width: 170px;
  margin: 6px 6px;
  margin: 6px 6px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}