<div class="contain">
  <form action="" [formGroup]="loginForm" (ngSubmit)=login() id="form-login">
    <h1 class="form-heading">
      AppChat
      <span class="material-icons">
        chat
      </span>
    </h1>

    <div class="form-group">
      <span class="material-icons">
        person
      </span>
      <input formControlName="username" class="form-input" placeholder="Tên đăng nhập" type="text">
    </div>

      <div class="form-group">
        <span class="material-icons">
          lock
        </span>
        <input formControlName="password" class="form-input" placeholder="Mật khẩu" type="password">
        
      </div>
      <div>{{errorMessage}}</div>
      <button type="submit" class="form-signin">Đăng nhập</button>
      <div class="Register" click="onBack()">
        <a href="register">Tạo tài khoản miễn phí</a>
      </div>
  </form>
</div>